<div class="container">

  <form class="well form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <fieldset>
      <legend><h2><b>Login</b></h2></legend><br>

      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input formControlName="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" >Password</label> 
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input formControlName="password" placeholder="Password" class="form-control"  type="password">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
           <button type="submit" class="btn btn-warning" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>

    </fieldset> 
  </form>
</div>